# Entorno virtual
venv/
.venv/

# Archivos de entorno
.env

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sesión de Flask
.flask_session/

# Carpeta de datos (la gestionará el disco de Render)
/data/

# Archivos de compilación
build/
dist/
*.egg-info/

# Archivos de prueba
.pytest_cache/
.tox/